[Desktop Entry]
# TODO: DNS-based naming convention
Type=Application
Name=Fuzzpaint
GenericName=Vector Graphics Editor
Categories=Graphics;
NoDisplay=false

MimeType=application/x.fuzzpaint-doc;

# Local filepaths mwhehehehe, will fix once I make an install script (and logo)
Icon=/home/aspen/Pictures/sheespe.png
# Execute with potentially many files
Exec=/home/aspen/Documents/Code/Rust/fuzzpaint-vk/target/debug/fuzzpaint-vk %F
Path=/home/aspen/Documents/Code/Rust/fuzzpaint-vk

# For debugging, provide a console.
Terminal=true
# Ask politely for a discrete GPU
# (Unsure how this is supposed to influence device selection,
# `linux_read_sorted_physical_devices` reports the same info regardless of user's choice)
PrefersNonDefaultGPU=true
