({
    LayerNew: (
        keyboard_hotkeys: Some([
            (
                ctrl: true,
                alt: false,
                shift: false,
                key: T,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    ViewportPan: (
        keyboard_hotkeys: Some([
            (
                ctrl: false,
                alt: false,
                shift: false,
                key: Space,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    LayerDelete: (
        keyboard_hotkeys: Some([
            (
                ctrl: false,
                alt: false,
                shift: false,
                key: Delete,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    LayerUp: (
        keyboard_hotkeys: Some([
            (
                ctrl: true,
                alt: false,
                shift: false,
                key: Up,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    LayerDown: (
        keyboard_hotkeys: Some([
            (
                ctrl: true,
                alt: false,
                shift: false,
                key: Down,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    Redo: (
        keyboard_hotkeys: Some([
            (
                ctrl: true,
                alt: false,
                shift: false,
                key: Y,
            ),
            (
                ctrl: true,
                alt: false,
                shift: true,
                key: Z,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    ViewportScrub: (
        keyboard_hotkeys: Some([
            (
                ctrl: true,
                alt: false,
                shift: false,
                key: Space,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    Undo: (
        keyboard_hotkeys: Some([
            (
                ctrl: true,
                alt: false,
                shift: false,
                key: Z,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
    ViewportFlipHorizontal: (
        keyboard_hotkeys: Some([
            (
                ctrl: false,
                alt: false,
                shift: false,
                key: M,
            ),
        ]),
        pad_hotkeys: None,
        pen_hotkeys: None,
    ),
})